<div>
    <input
      id="filter"
      placeholder="Filter..."
      [(ngModel)]="filteredItem"
      (ngModelChange)="filter()"
      [disabled]="!shopCart?.length"
    />
  </div>
  <ng-container *ngIf="filteredItems | async as items; else noItems" class="list">
    <div *ngFor="let item of items; trackBy: trackByName">
      <ul>
        <li>
          <span class="name-column">{{item.name}}</span>
          <span class="amount-column">{{item.amount}}</span>
        </li>
      </ul>
    </div>
  </ng-container>
  <ng-template #noItems>
    <p>No items found</p>
  </ng-template>
  